In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('정제된데이터.csv', encoding='utf-8')

In [5]:
data

,Unnamed: 0.1,Unnamed: 0,아이디,맥주,날짜,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,1,1,"italianjohn(5,524)",Kloud Original Gravity,"September 6, 2021",2.8,5,3,5,3,12
1,3,3,"Radek Kliber(8,125)",Kloud Original Gravity,"June 5, 2021",2.4,6,3,4,2,9
2,4,4,"geologyguy(2,602)",Kloud Original Gravity,"May 26, 2021",2.3,4,3,4,3,9
3,7,7,"pictoman(6,023)",Kloud Original Gravity,"April 22, 2020",2.0,3,3,4,3,7
4,8,8,"snoworsummer(9,674)",Kloud Original Gravity,"March 7, 2020",3.0,6,3,6,3,12
...,...,...,...,...,...,...,...,...,...,...,...
37642,69200,3817,"bierkoning(19,560)",Heineken,"August 24, 2002",2.0,4,3,4,2,7
37643,69201,3867,"ClarkVV(11,541)",Heineken,"July 9, 2002",1.9,4,2,4,2,7
37644,69202,4031,"omhper(37,431)",Heineken,"January 26, 2002",1.5,2,2,3,1,7
37645,69203,4132,"Ron(7,165)",Heineken,"September 6, 2001",3.6,4,4,8,4,16
37646,69204,4222,"Oakes(28,942)",Heineken,"December 13, 2004",1.2,3,1,3,1,4

In [7]:
beer_name = data['맥주'].unique()

In [10]:
beer_name

array(['Kloud Original Gravity', 'Kloud Fitz Super Clear',
       'Asahi Super Dry', 'Tsingtao', 'Heineken', 'Kirin Ichiban',
       'Sapporo Premium Beer / Draft Beer', 'Stella Artois',
       'Guinness Draught', 'Kronenbourg 1664 Blanc', 'Pilsner Urquell',
       'San Miguel', 'OB Premier Pilsner', 'Cass Fresh',
       'Eichbaum Apostel Bräu', 'Egger Zwickl', 'Egger Märzenbier',
       'Holsten Premium Bier', 'Bintang Pilsener', 'Krombacher Weizen',
       'Miller Genuine Draft (MGD)', 'Tiger Radler Lemon',
       "Suntory The Premium Malt's", 'Reeper B. Blondes Weissbier',
       'Tiger Beer', 'Tsingtao Wheat Beer', 'Erdinger Weissbier',
       'Carlsberg Pilsner', 'Budweiser', 'Sapporo Yebisu',
       'Paulaner Hefe-Weissbier', 'Desperados', 'Peroni Nastro Azzurro',
       'Edelweiss Weissbier Snowfresh', 'Heineken Dark Lager',
       'Kozel Černý (Dark) 10°', 'Guinness Original 4.2% (Ireland/UK)',
       'Jeju Wit Ale', 'Stephans Bräu Premium Pilsener',
       'Stephans Bräu Premium Lager',
       'Stephans Bräu Hefe-Weizen Naturtrüb Alkoholfrei',
       'Franziskaner Hefe-Weissbier / Weissbier Naturtrub',
       'Egger Grapefruit Radler', 'Bavaria Pilsener / Premium Beer',
       'Bavaria 8.6 (Original)', 'Lapin Kulta IV A',
       'Grolsch Premium Lager', 'Gambrinus Originál 10° (Desítka)',
       'Leffe Brune / Bruin / Brown', 'Löwenbräu Original (4.2%)',
       'Asahi Super Dry Black', 'Harbin Beer', "Beck's",
       'Hoegaarden Rosée', 'Platinum Pale Ale',
       'Brooklyn Special Effects (Hoppy Amber/Lager)',
       'Schöfferhofer Grapefruit',
       'Volfas Engelman Grünberger Hefeweizen',
       'Berliner Kindl Jubiläums Pilsener Premium', 'Red Rock',
       'Erdinger Weissbier Dunkel', 'Warsteiner Premium Verum'],
      dtype=object)

In [11]:
beer_name = pd.Series(beer_name)

In [22]:
print(type(beer_name))

<class 'pandas.core.series.Series'>

In [23]:
beer_list =pd.DataFrame(beer_name)

In [24]:
beer_list

                                            0
0                      Kloud Original Gravity
1                      Kloud Fitz Super Clear
2                             Asahi Super Dry
3                                    Tsingtao
4                                    Heineken
..                                        ...
57      Volfas Engelman Grünberger Hefeweizen
58  Berliner Kindl Jubiläums Pilsener Premium
59                                   Red Rock
60                  Erdinger Weissbier Dunkel
61                   Warsteiner Premium Verum

[62 rows x 1 columns]

In [25]:
beer_list.to_csv('beer_list.csv', encoding="utf-8")